<form method="post" action="{{ path('bareme_delete', {'id': bareme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bareme.id) }}">
    <button class="btn btn-link-delete btn-sm" title="Supprimer"><i class="fa fa-trash"></i></button>
</form>
