{% extends 'base.html.twig' %}

{% block title %}New Bareme{% endblock %}

{% block body %}
    <h1>Create new Bareme</h1>

    {{ include('bareme/_form.html.twig') }}

    <a href="{{ path('bareme_index') }}">back to list</a>
{% endblock %}
